[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
six = "*"
tabulate = "*"
wsgi-intercept = "*"

[dev-packages]
coverage = "*"
nose = "*"
prospector = "*"
rednose = "*"
tox = "*"

[requires]
python_version = "3.6"
