[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = ">=2.20.0"
six = "*"
tabulate = "*"
gunicorn = "*"
eventlet = "*"

[dev-packages]
"backports.functools_lru_cache" = "*"  # for pylint dependency astroid under Python2
coverage = "*"
configparser = "*"  # for pylint under Python2
enum34 = "*"  # for pylint dependency astroid under Python2
nose = "*"
pylint = "*"
rednose = "*"
singledispatch = "*"  # for pylint dependency astroid under Python2
tox = "*"
wsgi-intercept = "*"

[requires]
python_version = "3.6"
